<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Content Box</title>
    <link rel="stylesheet" href="Cont_Box.css" />
  </head>
  <body>
    <header>
      <div class="logo">
        <a href="initial_page.html"
          ><img src="logo.png" alt="Infosafari Logo"
        /></a>
      </div>
      <nav>
        <ul>
          <li><a href="home.html">Home</a></li>
          <li><a href="Cont_Box.html">Content-Box</a></li>
          <li><a href="Financ_res.html">Financial resources</a></li>
          <li><a href="#">Job Opportunities</a></li>
          <li><a href="#">News</a></li>
          <li><a href="contact.html">Contact</a></li>
        </ul>
      </nav>
    </header>
    <main>
      <section class="domains">
        <div class="container">
          <h2>Choose a Tech Domain</h2>
          <div class="container1">
            <div class="domain-card" id="webdev">
              <h3>Web Development</h3>
              <p>Start your journey in web development.</p>
              <a href="webdev_roadmap.html">Learn More</a>
            </div>
            <div class="domain-card" id="ml">
              <h3>Machine Learning</h3>
              <p>Explore the world of machine learning.</p>
              <a href="ml_roadmap.html">Learn More</a>
            </div>
            <div class="domain-card" id="cybersecurity">
              <h3>Cybersecurity</h3>
              <p>Protect against digital threats.</p>
              <a href="cybersecurity_roadmap.html">Learn More</a>
            </div>
          </div>

          <div class="container1">



            <div class="domain-card" id="mobile app development">
              <h3>Agriculture</h3>
              <p>
                Explore relational databases, NoSQL databases, and data
                warehousing.
              </p>
              <a href="cybersecurity.html">Learn More</a>
            </div>

          </div>
        </div>
      </section>
    </main>
    <footer>
      <div class="container">
        <p>&copy; 2023 InfoSafari</p>
      </div>
    </footer>
  </body>
</html>
